<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.heshu.everyday">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:launchMode="singleTask"
            android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".activity.WeatherActivity" />

        <service
            android:launchMode="singleTask"
            android:name=".service.AutoUpdateService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:launchMode="singleTask"
            android:name=".activity.WorldActivity" />
        <activity
            android:launchMode="singleTask"
            android:name=".activity.ArticleActivity"/>
        <activity
            android:launchMode="singleTask"
            android:name=".activity.PlayActivity"
            android:configChanges="keyboard|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:launchMode="singleTask"
            android:name=".activity.OpenEyesActivity" />
        <activity
            android:launchMode="singleTask"
            android:name=".activity.WebActivity"/>
        <activity
            android:launchMode="singleTask"
            android:name=".activity.ZhiHuActivity"/>

        <activity android:name=".activity.ZhihuDetailsActivity"/>
    </application>

</manifest>